#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_AUDIO_MANAGER_TEST
	bool "AUDIO_MANAGER test example"
	depends on AUDIO
	default y
	---help---
		Enable the audio_manager example in tash

if EXAMPLES_AUDIO_MANAGER_TEST

config EXAMPLES_AUDIO_MANAGER_TEST_PROGNAME
	string "Program name"
	default "audio_manager_test"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif

config USER_ENTRYPOINT
	string
	default "audio_manager_test_main" if ENTRY_AUDIO_MANAGER_TEST
